<nav data-controller="menu-toggle">
    <div class="logo-wrapper">
      <%= link_to root_path, class: "" do %>
        <%= image_tag 'logo.jpg', class: 'alc_logo', alt: 'alc-logo' %>
      <% end %>
    </div>
    <ul class="mobile_menu" data-action="click->menu-toggle#toggleMenu"  data-menu-toggle-target="menu">
      <li>
        <%= link_to 'About', root_path(anchor: 'about'), class: 'menu__item' %>
      </li>
      <li>
        <%= link_to 'Unsponsored students', students_path, class: 'menu__item' %>
      </li>
       <li>
        <%= link_to 'Sponsored students', sponsored_students_path, class: 'menu__item' %>
      </li>
      <li>
        <%= link_to 'How to donate', how_to_donate_path, class: 'menu__item' %>
      </li>
      <li>
        <%= link_to 'Contact', root_path(anchor: 'contact-details'), class: 'menu__item' %>
      </li>
      </ul>
      <div class="hamburgers" data-action="click->menu-toggle#toggleMenu">
        <span class="bar1" data-menu-toggle-target="hamburger"></span>
        <span class="bar2" data-menu-toggle-target="hamburger"></span>
        <span class="bar3" data-menu-toggle-target="hamburger"></span>
      </div>
    
    <ul class="menu desktop" >
      <li>
        <%= link_to 'About', root_path(anchor: 'about'), class: 'menu__item' %>
      </li>
      <li>
        <%= link_to 'Unsponsored students', students_path, class: 'menu__item' %>
      </li>
      <li>
        <%= link_to 'Sponsored students', sponsored_students_path, class: 'menu__item' %>
      </li>
      <li>
        <%= link_to 'How to donate', how_to_donate_path, class: 'menu__item' %>
      </li>
      <li>
        <%= link_to 'Contact', root_path(anchor: 'contact-details'), class: 'menu__item' %>
      </li>
      <li>
        <%= link_to "https://www.instagram.com/adventistlearningcenter/", target: "_blank", rel: "noopener" do %>
          <%= image_tag("instagram.svg", class: "social_icons", alt: "Instagram") %>
        <% end %>
      </li>
      <li>
        <%= link_to "https://www.facebook.com/adventistlearningcenter", target: "_blank", rel: "noopener" do %>
          <%= image_tag("facebook.svg", class: "social_icons", alt: "Facebook") %>
        <% end %>
      </li>
      <li>
        <%= link_to "https://www.youtube.com/@adventistlearningcenter2643", target: "_blank", rel: "noopener" do %>
          <%= image_tag("youtube.svg", class: "social_icons", alt: "YouTube") %>
        <% end %>
      </li>
      <li>
        <%= link_to 'Donate', how_to_donate_path, class: "donate_button" %>
      </li>
    </ul>
</nav>
