<%= form_with(model: @sponsor_student, url: sponsor_student_path(@sponsor_student), local: true) do |f| %>

  <%= render "shared/error_messages", resource: @sponsor_student %>
  <!-- Your other f fields here -->
  <%= f.file_field :main_image, direct_upload: true %>
  <%= f.file_field :secondary_image, direct_upload: true %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :grade %>
    <%= f.text_field :grade %>
  </div>

  <div class="field">
    <%= f.label :fav_food %>
    <%= f.text_field :fav_food %>
  </div>

  <div class="field">
    <%= f.label :fav_color %>
    <%= f.text_field :fav_color %>
  </div>

  <div class="field">
    <%= f.label :hobbies %>
    <%= f.text_field :hobbies %>
  </div>

  <div class="field">
    <%= f.label :sponsored_status %>
    <%= f.select :sponsored_status, options_for_select(SponsorStudent.sponsored_statuses.keys.map { |status| [status.humanize, status] }, @sponsor_student.sponsored_status) %>
  </div>

  <%= f.submit 'Update' %>
<% end %>
