<div class="container mx-auto">
  <div class="grid-cols-3 p-20 space-y-2 lg:space-y-0 lg:grid lg:gap-3 lg:grid-rows-3">
    <% if @sponsor_students.any? %>
      <% @sponsor_students.each do |student| %>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow">
          <% if student.main_image.attached? %>
            <%= cl_image_tag(student.main_image.key, crop: :scale, type: :upload, class: 'w-full rounded-lg') %>
          <% end %>
          <div class="p-5 text-gray-600">
            <p class="text-dark-green text-2xl uppercase font-semibold my-2"><%= student.name %></p>
            <p><span class='italic'>Donate ID: </span><span class="font-semibold"><%= student.unique_identifier %></span></p>
            <p><span class='italic'>Age: </span><span class="font-semibold"><%= student.age %> years old</p></span>
            <p><span class='italic'>Grade: </span><span class="font-semibold"><%= student.grade %></p></span>
            <p class='italic font-semibold mt-2'><%= student.sponsored_status&.humanize %></p>
            <div class="mt-10">
              <%= link_to "Check #{student.name}'s story", sponsor_student_path(student), class: 'capitalize text-light-brown' %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%== pagy_nav(@pagy) %>
</div>

<%# if Rails.env.development? %>
  <%= link_to 'New student', new_sponsor_student_path %>
<%# end %>
