<div class="card-grid">
    <% if @sponsor_students.any? %>
      <% @sponsor_students.each do |student| %>
<div class="card">
        <div class="card_image">
          <% if student.main_image.attached? %>
            <%= cl_image_tag(student.main_image.key, crop: :scale, type: :upload) %>
          <% end %>
        </div>
        <div class="card_content">
          <p class="card_title"><%= student.name %></p>
          <p><em>Donate ID: </em><span><%= student.unique_identifier %></span></p>
          <p><em>Age: </em><span><%= student.age %> years old</p></span>
          <p><em>Grade: </em><span><%= student.grade %></p></span>
          <p class="unsponsored"><%= student.sponsored_status&.humanize %></p>
          <div class="check_story">
            <%= link_to "Check #{student.name}'s story", sponsor_student_path(student) %>
          </div>
          <div>
            <%= link_to "Sponsor #{student.name}", sponsor_student_path(student), class: 'sponsor_student' %>
          </div>
        </div>
  </div>
      <% end %>
    <% end %>
</div>
<%== pagy_nav(@pagy) %>

<% if Rails.env.development? %>
  <%= link_to 'New student', new_sponsor_student_path %>
<% end %>
